h1{
    color: grey;
    background-color: goldenrod;
}
.block{
    display: block;
}

main{
    margin: 10px 0;
}

nav {
    background-color: gray;
    display: inline-block;
    border: 2px solid black;
}