*{
    margin: 0;
    padding: 0;
}

/* Cabeçalho */

header{
    display: flex;
    background-color: rgb(230, 105, 59);
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}

#busca{
    width: 8vw;
    height: 6vh;
    margin-right: 6vw;
    text-align: center;
}

/* Main  */
.card > a {
    display: block;
}

main{
    width: 100vw;
}

.countainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 120px);
}

.card{
    display: grid;
    border: 1px solid black;
    width: 20vw;
    grid-template-columns: 1fr;
}

.card a video {
    width: 100%;
}

.card > p{
    padding-top: 10%;
    padding-bottom: 10%;
}

.margem{
    margin-left: 5%;
}

.margem h3{
    margin: 1% 0;
}

/* mobile  */

@media screen and (min-width: 100px) and (max-width: 600px) {
   
    .countainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-flow: column;
        justify-items: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }   
    .card{
        display: grid;
        border: 1px solid black;
        width: 20vw;
        grid-template-columns: 1fr;
    }
    
    .card a video {
        width: 100%;
    }
    
    .card > p{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    
  }

/* Rodapé  */

footer{
    margin-top: 30px;
    display: flex;
    background-color: gray;
    color: white;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}